[Desktop Entry]
Version=1.0
Type=Application

Name=EmojiPick
Comment=Insert Emojis
Categories=Utility;

Icon=applications-other
Exec=emojipick
Terminal=false