.text-button {
    font-size: 24px;
    /* line-height: 30px; */
}

.category {
	margin-bottom: 10px;
	font-size: 16px;
	font-family: Iter;
	font-weight: bold;
}

.menubar {
	font-size: 18px;
}

.emojigrid {
    margin-bottom: 14px;
}

entry {
    min-width: 340px;
    min-height: 24px;
    font-size: 14px;
}